body {
  background-color: beige;
}

h1 {
  color: chocolate;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}

button {
  color: cornflowerblue;
  text-align: center;
}
